.AppTabContainer {
  flex-direction: column;
  margin-top: 5rem;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  &__conatiner {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-self: center;
    &__mainImg {
      width: 40%;
      height: 40%;
      border-radius: 30px;
    }
    &__Maintext {
      text-align: left;
      color: bisque;
      padding: 1.5em;
      font-size: 160%;
      margin-top: 1em;
    }
    &__techLogo {
      &__pyImg {
        width: 15%;
        height: 62%;
        margin-top: 3em;
      }
      &__JSImg {
        width: 23%;
        margin-top: 2em;
        height: 59%;
      }
      &__rnImg {
        width: 22%;
        height: 94%;
        padding: 2em;
      }
      &__sassImg {
        width: 18%;
        height: 71%;
        padding: 2em;
      }
    }
    &__markdowntext {
      background: rgb(34, 34, 34) !important;
      border-radius: 24px;
    }
  }
  &__GithubLink {
    text-decoration: none;
    font-size: xx-large;
    color: antiquewhite;
  }
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
  .AppTabContainer {
    &__conatiner {
      flex-direction: column;
      &__mainImg {
        align-self: center;
        width: 70%;
        height: 70%;
      }
      &__Maintext {
        font-size: 130%;
      }
      &__techLogo {
        &__rnImg {
          width: 28%;
          margin-top: 1.5em;
        }
        &__sassImg {
          width: 18%;
          height: 71%;
          margin-top: 1.5em;
          padding: 0.4em;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .AppTabContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    &__conatiner {
      flex-direction: column;
      &__mainImg {
        align-self: center;
        width: 70%;
        height: 70%;
      }
      &__Maintext {
        font-size: 100%;
        padding: 0.5em;
      }
      &__techLogo {
        &__pyImg {
          width: 15%;
          height: 62%;
          margin-top: 2em;
        }
        &__rnImg {
          width: 33%;
          margin-top: 1em;
          padding-top: 3em;
        }
        &__JSImg {
          width: 23%;
          margin-top: 2em;
          height: 70%;
        }
        &__sassImg {
          width: 18%;
          height: 71%;
          margin-top: 1.5em;
          padding: 0.4em;
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .AppTabContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    &__conatiner {
      &__markdowntext {
        display: none;
      }
      flex-direction: column;
      &__mainImg {
        align-self: center;
        width: 70%;
        height: 70%;
      }
      &__Maintext {
        font-size: 100%;
        padding: 0.5em;
      }
      &__techLogo {
        &__pyImg {
          width: 15%;
          height: 62%;
          margin-top: 2em;
        }
        &__rnImg {
          width: 40%;
          margin-top: 1em;
          padding-top: 3em;
        }
        &__JSImg {
          width: 23%;
          margin: 2em 0em 0em 0.5em;
          height: 70%;
          padding: -3em;
        }
        &__sassImg {
          width: 18%;
          height: 71%;
          margin-top: 1.5em;
          padding: 0.4em;
        }
      }
    }
  }
}
