.NavbarMain {
  z-index: 1;
  background: #0d0d0d !important;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    black 50%,
    transparent 100%
  ) !important;
  color: white;
  justify-content: space-between !important;
  &__mainPanel {
    align-items: center;
    margin-right: 2ch;
  }
  &__mainLogo {
    color: white !important;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-left: 2ch;
  }
}
.social-icon-panel {
  margin-left: 14px;
  display: flex;
  flex-direction: row;
  &__icon {
    width: 3.5em;
    height: 3.5em;
    background: rgba(255, 255, 255, 0.753);
    border-radius: 50%;
    margin-right: 17px;
  }
  &__icon::before {
    background-color: #ffffff;
    content: "";
  }
  &__icon:hover {
    transform: scale(1);
  }
  &__icon:hover {
    box-shadow: 0 4px 12px 0 #06baf6;
  }
}

.contact-us {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #0d0d0d;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact-us:hover {
  box-shadow: #06baf6 0 0 0 3px, transparent 0 0 0 0;
}
