.mainProjectsPage {
  background: rgb(180, 4, 255);
  padding: 5em 3em;
  text-align: center;
  color: white;
  .heading {
    font-size: 1.5em;
  }
  .headingtext {
    font-size: 1.5em;
    color: white;
    padding: 2em 10em 2em 10em;
  }
  .tab {
    color: black;
  }
}
.nav-link {
  color: wheat;
  font-size: large;
}
.nav-link:hover {
  color: rgb(70, 187, 255);
}
.nav-link.active {
  color: rgb(24, 0, 176) !important;
  background-color: rgb(217, 116, 248) !important;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  .mainProjectsPage {
    .headingtext {
      font-size: 1.5em;
      color: white;
      padding: 2em 0em 2em 0em;
    }
  }
}
