.mainContainer {
  background: rgb(13, 13, 13);
  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 1) 30%,
    rgb(180, 4, 255) 100%
  );
  padding: 5em 3em;
}
.IntroText {
  margin-left: 3em;
  margin-right: 3em;
  color: #9d72ff;
  display: flex;
  text-align: center;
  margin-top: 2.5%;
}
.skillsMainPanel {
  margin-left: 8em;
  margin-right: 8em;
  border-radius: 100px;
  background-color: black;
  .skillsMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f8bbff;
    text-align: center;
    .skillsText {
      font-weight: 700;
    }
  }
}

.skillSlider {
  width: 90%;
  //padding: 5ch;
  .skillSliderBarMain {
    padding: 20%;
    color: white;
  }
}

blockquote {
  font: 12px/18px normal "Courier New", sans-serif;
  padding-left: 20px;
  margin: 1.5em 1em;
  background-image: url(../assests/openBrace.png);
  background-size: 20ch;
  background-repeat: no-repeat;
  text-indent: 23px;
  margin-bottom: 25ch;
}
blockquote span {
  display: block;
  background-image: url(../assests/closeBrace.png);
  background-size: 20ch;
  background-position-x: 102%;
  background-repeat: no-repeat;
  padding-bottom: 2ch;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  .IntroText {
    font-size: 3.2vw;
    margin-top: 1.3em;
  }
  blockquote {
    padding-left: 35px;
    margin: 1.7em 0em 0em 0em;
  }
  blockquote span {
    background-position-x: 110%;
  }
  .skillsMainPanel {
    margin-left: 3em;
    margin-right: 1em;
    .skillsMain {
      .skillsTextBig {
        font-size: 1.1em;
      }
    }
  }
  .skillSlider {
    width: 80%;
    padding: 5ch;
    font-size: small;
    .skillSliderBarMain {
      padding: 10%;
      color: white;
    }
  }
}
