.universityProject {
  &__title {
    text-decoration: none;
    font-size: 2rem;
    color: white;
  }
  &__LMSImg {
    border-radius: 10px;
    width: 40%;
    margin: 40px;
    height: 140%;
  }
}
