.WorkExpContainer {
  margin-top: 4em;
  padding-left: 10em;
  padding-right: 10em;
  text-align: start;
  color: antiquewhite;
  &__positionHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__GithubLink {
    margin-left: 42%;
    text-decoration: none;
    font-size: xx-large;
    color: antiquewhite;
  }
}

.subFontItalics {
  font-style: italic;
  font-size: small;
}
.subFontItalicsTitle {
  font-weight: 600;
}
.subFontItalicsSKills {
  font-style: italic;
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
  .WorkExpContainer {
    padding-left: 2em;
    padding-right: 2em;
    &__GithubLink {
      margin-left: 35%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .WorkExpContainer {
    padding-left: 0em;
    padding-right: 0em;
    &__GithubLink {
      margin-left: 20%;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .WorkExpContainer {
    padding-left: 0em;
    padding-right: 0em;
    font-size: 0.8em;
    &__GithubLink {
      margin-left: 20%;
    }
  }
}
